<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BaseAddress" value="https://binance.com" />
		<add key="NumberOfDataPoints" value="15" />
		<add key="Symbol" value="BTCUSDT" />
		<add key="Interval" value="15m" />
		<add key="Limit" value="5" />
		<add key="ApiKey" value="API_KEY" />
	</appSettings>
</configuration>