<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BaseAddress" value="https://binance.com" />
		<add key="NumberOfDataPoints" value="100" />
		<add key="Symbol" value="BTCUSDT" />
		<add key="Interval" value="4h" />
		<add key="Limit" value="115" />
		<add key="ApiKey" value="API_KEY" />
		<add key="MinimumPriceDelta" value="-1000" />
		<add key="MinimumRsiDelta" value="5" />
	</appSettings>
</configuration>